<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registration Successful</title>
  </head>
  <body>
    <style>
      
      .container {
        background: rgba(46, 204, 113);
        backdrop-filter: blur(10px);
        border-radius:20px;
        padding: 20px;
        text-align: center;
      }

      body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60vh;
        background-color: rgb(233, 233, 233);
      }
    </style>
    <div class="container">
      <h1>Registration Successful</h1>
    </div>
  </body>
</html>
